body{
    background-color: #3333;
}
header{
    background-color: #fff;
    height: 90px;
}
.cabecalho{
    
    width: 960px;
    margin: 0 auto;
}
.cabecalho img{
    width: 300px;
    
}
.home{
    background: rgb(26,31,44);
    background: linear-gradient(0deg, rgba(26,31,44,1) 0%, rgba(40,39,40,1) 100%);
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    height: 100%;
}